#!/bin/bash

set -e # bail out on error

echo
echo "This script will only work when connected to"
echo "a non-firewalled network such as the WGC open"
echo "wireless network."
echo

install_base="$( dirname $0 )/.." # we run from <install_base>/sbin

echo "Doing port selfupdate - may take a few minutes..."
"${install_base}/bin/port" selfupdate
echo "...done"
echo

echo "Indexing local ports"
cd "${install_base}/etc/local_ports"
"../../bin/portindex"

echo
echo "All done."
exit 0

# EOF

